*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.meal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.meal-wrapper {
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 30px;
    width: 400px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.meal-wrapper .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}

.meal-wrapper .row:first-child {
    font-size: 17px;
}

.meal-wrapper .col {
    flex: 3;
    /* font-size: 20px; */
    line-height: 25px;
    text-align: center;
}

.meal-wrapper .col:first-child {
    flex: 4;
}


/* .meal-wrapper{
    display: block;
    margin: auto;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 40px 10px;
    width: 390px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* max-width: 100%; */
    /* margin-bottom: 40px;
} */

/* .row {
    display: flex;
    line-height: 30px;
}

.col {
    flex: 3;
    text-align: center;
    font-size: 18px;
}

.col.main {
    flex: 4;
}

.col.minor{
    flex: 2; */
    /* text-align: center; */
/* } */

/* .userMealData{
    display: block;
    margin: auto;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    padding: 20px 5px;
    width: 380px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* margin-bottom: 80px; */
    /* min-height: 20vh; */
/* } */